$white: #f5f5f5;
$black: #222222;
$fontQuote: "Patrick Hand", cursive;
$font: "Montserrat", sans-serif;

body{
  background-color: #d5a5c0;

}

.category-row{
  padding: 30px 30px;
  font-family: $font;
  .custom-button{
    background-color: #4cae4c;
    color: $white;
    font-weight: 700;
    padding: 20px 20px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    cursor:pointer;
  }
}

.quote-row{
  padding: 30px 30px;
  margin-top: 50px;
  font-family: $fontQuote;
  .quote-row-main{
    min-height: 250px;
    padding: 20px 20px;
    .left-icon-row{}
    .quote-wrapper{
      font-size: 45px;
      color: $white;
      font-weight: 700;
      text-align: center;

    }
  }
}

.small-text{
  float: right;
  font-size: 16px;
  font-family: $font;
}
.random-quote{
  padding: 30px 30px;
  font-family: $font;
  .new-quote-button{
    background-color: #4cae4c;
    color: $white;
    font-weight: 700;
    padding: 20px 20px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }
}