<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <script src="https://use.fontawesome.com/b7f499e08c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Baloo+Bhai|Source+Sans+Pro:400i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="scss/styles.css">
</head>
<body ng-app="wikipediaApp">
<div class="row top-panel">
    <div class="col-xs-12 text-center">
        Wikipedia Viewer App <span class="side-text"><i>by Shaunak Sen</i></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 sidebar text-center">
        <div class="profile-pic">
            <img src="https://s14.postimg.org/i5q4vvz69/shaunak.jpg" width="140" class="img-circle" alt="">
        </div>
        <br>
        <p>Created as part of <a href="https://www.freecodecamp.com/">FreeCodeCamp Project</a></p>
        <p>Get the <i class="code-icon fa fa-code"></i>
            <a href="https://github.com/ShaunakSen/snippets_js/tree/master/wikipedia-app"
               target="_blank"><b>here</b></a>
        </p>
        <p class="icon-row">
            <a href="https://www.facebook.com/shaunak.sen.54" target="_blank"><i class="fa fa-facebook-f"></i></a>
            <a href="https://github.com/ShaunakSen" target="_blank"><i class="fa fa-github"></i></a>
            <a href="http://codepen.io/shaunak1105/" target="_blank"><i class="fa fa-codepen"></i></a>
        </p>
        <div class="toggleButton">
            <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">
                Click here for a random article
            </a>
        </div>
    </div>

    <div class="col-sm-9 main-content" ng-controller="MainController">
        <div class="row text-center">
            <div class="col-xs-4" style="padding: 0">
                <input type="text" class="form-control search-text-field" ng-model="searchText" placeholder="SEARCH HERE">
            </div>
            <div class="col-xs-3" style="padding: 0; margin-left: 5px">
                <input type="number" class="form-control search-text-field" min="1" max="10" ng-model="queryNumber" placeholder="10 RESULTS">
            </div>
            <div class="col-xs-2 search-button" ng-click="search()">
                Search
            </div>
            <div class="col-xs-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-1 col-xs-offset-4">
                <i class="fa fa-refresh fa-spin fa-2x fa-fw spinner" ng-if="showLoading"></i>
            </div>
        </div>
        <div class="row" ng-repeat="article in usefulStuff.articles">
            <div class="col-xs-9 article-card">
                <div class="row article-heading">
                    <p>{{article.heading}} <span><a href="{{article.link}}" target="_blank"><i class="fa fa-link"></i></a></span></p>
                </div>
                <div class="row article-body">
                    <p>{{article.body}}</p>
                </div>
                <div class="row article-footer">
                    <p>For more details click <a href="{{article.link}}" target="_blank"><b>Here</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
<script src="js/app.js"></script>
</body>
</html>