$color1: #A1E8AF;
$color2: #94C595;
$color3: #747C92;
$color4: #372772;
$color5: #3A2449;
$color6: #664280;

body {
  background-color: $color1
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: inherit;
}

.top-panel {
  background-color: $color2;
  font-size: 2.3em;
  font-family: 'Baloo Bhai', cursive;
  //font-weight: 500;
  padding: 20px 0;
  color: $color4;
  .side-text{
    margin-left: 10px;
    font-size: 0.6em;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px 0;
    color: $color3;
    font-weight: bold;
  }
}


.sidebar{
  background-color: $color3;
  height: 700px;
  padding: 20px 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color5;
  font-size: 1em;

  .toggleButton{
    background-color: $color2;
    font-size: 1.2em;
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    border-radius:2em;
    cursor: pointer;
  }
}
.main-content{
  padding: 20px 50px;
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color4;

  .second-row{
    p{
      color: $color6;
      font-size: 0.8em;
    }

    //margin-left: 1.5em;
  }
  #quote{
    padding: 20px;
    color: $color6;
    font-style: italic;
    font-size: 1.2em;
  }
}